@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  font-size: 20px;
}

.label {
  font-weight: bold;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
}

/* .select {
  font-size: 20px;
} */

.textarea {
  font-size: 20px;
}

/* .btn {
  @apply normal-case;
  font-size: 18px;
} */

.btn-primary {
  @apply text-white;
}

.select-bordered {
  @apply border border-slate-400
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  @apply text-white
}

path.react-flow__edge-path {
  stroke-width: 6;
  stroke: '#797979',
}

path.react-flow__edge-path:hover {
  stroke-width: 8;
  stroke: '#474747',
}

path.react-flow__edge-path.selected {
  stroke-width: 10;
  stroke: '#353535',
}

